@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap");

@import "components/all.scss";

// ============= BASE ===================
a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  outline: none;
}

button {
  outline: none;
  padding: 0;
  border: none;
}

body {
  background: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.wrapper-app {
  width: 900px;
  height: 96vh;
  margin: 2vh auto;

  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}
