.title-container {
  grid-area: 1 / 1 / 2 / 13;

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  align-items: center;
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.5);

  .title {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  .checkbox {
    grid-area: 1 / 1 / 2 / 2;
  }

  .studentID {
    grid-area: 1 / 2 / 2 / 4;
  }

  .name {
    grid-area: 1 / 4 / 2 / 7;
  }

  .gender {
    grid-area: 1 / 7 / 2 / 9;
  }

  .class {
    grid-area: 1 / 9 / 2 / 11;
  }

  .phoneNumber {
    grid-area: 1 / 11 / 2 / 13;
  }
}
